
<div class="site-left-sidebar">
    <div class="sidebar-backdrop"></div>
    <div class="custom-scrollbar">
        <ul class="sidebar-menu">
      
            <li class="menu-title">İşlemler</li>
            <li>
                <a href="@Url.Action("UrunIslemleri","Product")" aria-haspopup="false">

                    <span class="menu-icon">
                        <i class="zmdi zmdi-widgets"></i>
                    </span>
                    <span class="menu-text">Ürün İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Kategoriİslemleri","Category")" aria-haspopup="false">
                    <span class="menu-icon">
                        <i class="zmdi zmdi-case"></i>
                    </span>
                    <span class="menu-text">Kategori İşlemleri</span>
                </a>
                
            </li>
            @*<li>
                <a href="#" aria-haspopup="false">
                    <span class="menu-icon">
                        <i class="zmdi zmdi-dot-circle-alt"></i>
                    </span>
                    <span class="menu-text">Galeri İşlemleri</span>
                </a>
                
            </li>*@
 
        </ul>
    </div>
</div>