
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="about" class="section about">
    <div class="container">
        <div class="jt_row jt_row-fluid row">
            <div class="col-md-12 jt_col column_container">
                <div class="voffset100"></div>
                <h2 class="section-title">Hakkımızda</h2>
            </div>
            <div class="col-md-10 col-md-offset-2 jt_col column_container">
                <div class="section-subtitle">
                    "Yemek yapmak. Sanatların en güzeli ve kusursuzudur. Beş duyumuzu birden harekete geçirir, hatta bir duyumuzu daha uyandırırelimizden geleni ortaya koyma ihtiyacımızı. En sevdiğim tedavi budur." - 
                    <span class="author"><strong>Paulo Coelho</strong></span>
                </div>
            </div>

            <div class="col-md-6 jt_col column_container">
                <h2 class="heading font-smoothing">Biz Kimiz</h2>
                <p class="text">
                    <strong>Bi Döner®</strong>, 2013 yılında hızlı servis kaliteli hizmet amacıyla sektörünün
                    uzmanı kişiler tarafından. Uzun yıllar süre gelen deneyimini işin ustalarıyla birleştirip
                    Bi Döner®  ve Bi Köfte markalarını  yaratan Lezzet Molası ailesi, konusunda uzman çalışanlarıyla
                    yüksek kalitede ürünlerini, uygun fiyat ve üstün hizmet kalitesi ile bütünleştirerek müşterilerine
                    sunmaktadır.Restorantımızın benzersiz lezzeti, özenle seçilen malzemelerden gelmektedir. Klasik
                    yapılış yöntemlerinden ödün vermeden uluslararası kalite standartlarında üretim yapan tedarikçilerle
                    çalışan restorantımız, müşterilerine her zaman sadece doğal, katkısız malzemeler ile hazırlanmış leziz
                    ürünler,döner ve köfte çeşitleri sunmaktadır. Restorantımız müşterilerini Anadolu'nun binlerce yıllık
                    lezzet geleneğini yaşamaya davet etmektedir.
                </p>

                <div class="ornament"></div>
            </div>
            <div class="col-md-6 jt_col column_container">
                <div class="voffset40"></div>
                <div id="owl-about" class="owl-carousel">
                    <div class="item"><img src="~/Content/images/hakkimizda/hakkimizda1.jpg" alt=""></div>
                    <div class="item"><img src="~/Content/images/hakkimizda/hakkimizda2.jpg"  alt=""></div>
                
                    <div class="item"><img src="~/Content/images/hakkimizda/hakkimizda5.jpg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="jt_row jt_row-fluid row">
            <div class="col-md-6 jt_col column_container">
                <div class="voffset10"></div>
                <div id="owl-about2" class="owl-carousel">
                    <div class="item"><img src="~/Content/images/hakkimizda/hakkimizda4.jpg"  alt=""></div>
                    <div class="item"><img src="~/Content/images/hakkimizda/hakkimizda6.jpg" alt=""></div>
                    <div class="item"><img src="~/Content/images/hakkimizda/hakkimizda3.jpg" alt=""></div>
                </div>
            </div>

            <div class="col-md-6 jt_col column_container">
             
                <p class="text">
                    Sürekli müşterilerimizin memnuniyetini ön planda tutarak, insan sağlığı ve hijyen konularına
                    azami derecede önem göstererek hizmetimizi sunmaya devam etmekteyiz.İşletmemiz, standart kalitesini
                    ve standart lezzetini siz değerli müşterilerimize ilk günkü kalitesiyle ve mutlulukla sunmaktadır.
                    Restaurantımızda, bölgemizde bulunan konutlara ve işyerlerine paket servisimiz ilk anki sıcaklığı ile yapılmaktadır.
                </p>
                <p class="text">
                    <strong>Bi Döner®</strong> ve <strong>Bi Köfte®</strong> birer <strong>Lezzet Molası®</strong> markalarıdır.
                </p>
            </div>
        </div>
    </div>

</section>


