    <!-- BEGIN FOOTER -->
<footer id="footer" class="section" role="contentinfo">
    <div class="container">
        <ul class="social">
            <li><a href="https://www.instagram.com/bikoftebidoner/" class="icon ig"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/bikoftebidoner/" class="icon fb"><i class="fa fa-facebook"></i></a></li>
            @*<li><a href="#" class="icon in"><i class="fa fa-pinterest"></i></a></li>
                 <li><a href="#" class="icon go"><i class="fa fa-google-plus"></i></a></li>*@
        </ul>
    </div>
</footer>
<!-- END FOOTER -->
